:root {
  --system-ui: 'Open Sans',system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem);
  --sizing: 1.6rem;
  --half-sizing: 0.8rem;
  --secondary-color: rgb(237, 28, 36);
  --text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  --default-text-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: var(--system-ui);
  line-height: 1.5;
  display: grid;
  grid-template: auto 5fr 30px / 1fr 5fr;
  font-weight: bold;
  color: black;
}

svg {
  width: 1.75rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

li {
  list-style-type: none;
}

button {
  border-radius: 20px;
  font-family: inherit;
  font-size: inherit;
  width: 6.5em;
  height: 2em;
  font-weight: bold;
}

.grid {
  display: grid;
}

.half-gap {
  gap: var(--half-sizing);
}

.large-size {
  width: 4rem;
  min-width: 4rem;
}

.large-font {
  font-size: var(--sizing);
}

.med-size {
  width: 2.25rem;
}

.med-font {
  font-size: 1.4rem;
}

.header-container {
  background-color: lightpink;
  grid-template: auto auto / 2fr 1fr;
  padding: var(--half-sizing) var(--sizing);
  row-gap: var(--half-sizing);
  column-gap: var(--sizing);
}

.nav-container {
  grid-area: 1 / 1 / -1 / 1;
  background-color: lightblue;
  padding: var(--half-sizing) var(--sizing);
  grid-template-rows: auto auto auto;
  align-content: start;
  gap: 3rem;
}

.header-2-columns {
  grid-template-columns: auto 1fr;
  gap: var(--half-sizing);
  align-items: center;
}

.header-column-flow {
  grid-auto-flow: column;
  align-items: center;
  gap: var(--half-sizing);
  justify-content: end;
}

.column-center-stretch {
  align-content: center;
  height: 100%;
  justify-items: end;
}

.wrap-flex-text {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--half-sizing);
}

.wrap-flex-text > span {
  flex: 0 1 auto;
}

input[type="search"] {
  border-radius: 20px;
  width: 100%;
  height: 1.5rem;
  border: none;
  max-width: 40vw;
}

.nav-2-columns {
 grid-template-columns: auto auto;
 justify-content: start;
 gap: var(--half-sizing);
 align-items: center;
}

.auto-section {
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  gap: var(--sizing);
}

.main-container {
  grid-template: auto auto / 2.5fr 1fr;
  gap: var(--sizing);
  margin: var(--sizing);
}

.auto-section > section {
  border-left: 10px solid black;
  border-radius: 10px;
  display: grid;
  gap: var(--half-sizing);
  padding: var(--sizing) var(--half-sizing);
  grid-template-rows: auto auto auto 1fr;
}

.auto-section section div {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-content: end;
  gap: var(--half-sizing);
}

.main-article {
  grid-area: 1 / 1 / -1 / 2;
  gap: var(--half-sizing)
}

article > h3 {
  grid-area: 1 / 1 / 2 / -1;
}







footer {
  font-weight: bold;
  font-size: 1rem;
  text-shadow: var(--text-shadow);
  margin-top: 20px;
  align-self: center;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--default-text-color);
}

footer img {
  aspect-ratio: 1/1;
  width: 20px;
  border-radius: 5px;
}
