:root {
  --system-ui: 'Open Sans',system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  --default-spacing: 2rem;
  --half-spacing: 1rem;
  --secondary-color: rgb(237, 28, 36);
  --text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  --default-text-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--system-ui);
  font-size: 1.6rem;
  line-height: 1.5;
}

svg,
img {
  max-width: 100%;
  width: 20px;
}

li {
  list-style-type: none;
}
.grid {
  display: grid;
}

input[type="search"] {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

footer {
  bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: var(--text-shadow);
  margin-top: 20px;
  align-self: center;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--default-text-color);
}

footer img {
  aspect-ratio: 1/1;
  width: 20px;
  border-radius: 5px;
}
